/* ================== card styles =============== */
.card-title {
    max-height: 3rem;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-badge-left {
    top: 1rem;
    left: 0.5rem;
}
.card-badge-right {
    top: 1rem;
    right: 0.5rem;
}